/*body {
  background-color: #f4f4f4;
}*/

.main_container{
  margin-top: 51px;
}

/*header*/
#header {
  background-color: #333333;
  color: #ffffff;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

#header .create {
  margin-top: 20px;
}

/*bread crumb*/
.breadcrumb {
  background: #cccccc;
  color: #333333;
}

/*.breadcrumb > li + li:before {
    color: #ccc;
    content: "/ ";
    padding: 0 5px;
}*/

.breadcrumb a {
  color: #333333;
}

/*progress bar*/
.progress-bar {
  background: #333333;
  color: #ffffff;
}

.dash-box {
  text-align: center;
}
