#map {
  height: 40vh;
  width: 50vw;
}
.map {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}



.main-container{
  margin-top: 15%;
}

.salonInput {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
