<div class="container signUpWrapper">
  <div class="container-fluid signUp">
    <button type="button" class="btn btn-md btn-success">Sign Up</button>
  </div>
</div>


<div class="container trendWrapper">
  <ul class="row">
    <li class="col-md-4"><img src="hair1.jpg" ></li>
    <li class="col-md-4"><img src="hair1.jpg" ></li>
    <li class="col-md-4"><img src="hair1.jpg" ></li>
  </ul>
  <div class="container-fluid">
    <ul class="row">
      <li class="col-md-4"><img src="hair1.jpg" ></li>
      <li class="col-md-4"><img src="hair1.jpg" ></li>
      <li class="col-md-4"><img src="hair1.jpg" ></li>
    </ul>
    <div class="container trendButton">
      <button type="button" class="btn btn-md btn-success">More</button>
    </div>
  </div>
</div>


<div class="container salonFinder">
  <form ng-submit="getGeoCode(address)">
    <div class="salonInput">
      <input type="text" placeholder="city" ng-model="address">
    </div>    
  </form>

  <div class="map">
    <div id="map"></div>
  </div>
</div>



<!-- AIzaSyAtgOq_TzC-WfK07vK-ZAhinzXV8dvPuJs -->
