<div class="container trendWrapper">
  <ul class="row">
    <li class="col-md-4"><img src="hair1.jpg" ></li>
    <li class="col-md-4"><img src="hair1.jpg" ></li>
    <li class="col-md-4"><img src="hair1.jpg" ></li>
  </ul>
  <div class="container-fluid">
    <ul class="row">
      <li class="col-md-4"><img src="hair1.jpg" ></li>
      <li class="col-md-4"><img src="hair1.jpg" ></li>
      <li class="col-md-4"><img src="hair1.jpg" ></li>
    </ul>
    <div class="container trendButton">
      <button type="button" class="btn btn-md btn-success">More</button>
    </div>
  </div>
</div>
