<navbar-after></navbar-after>
<div class="main_container">
  <!-- Header -->
  <header id="header">
    <div class="container">
      <div class="row">
        <div class="col-md-10">
          <h1><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>Stylist Dashboard <small>Site Management</small></h1>
        </div>
        <div class="col-md-2">
          <div class="dropdown create">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Create Content
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="#">Add Sales</a></li>
              <li><a href="#">Add Portfolio</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- breadcrumb -->
  <section id="breadcrumb">
    <div class="container">
      <ol class="breadcrumb">
        <li><a href="">Summary</a></li>
        <li><a href="">Sales</a></li>
        <li class="active"><a href="">Portfolio</a></li>
      </ol>
    </div>
  </section>

  <!-- main -->
  <section id="main">
    <div class="container">
      <div class="row">
        <div class="col-md-3">

          <div class="list-group">
            <a href="" class="list-group-item active">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>  Dashboard
            </a>
            <a href="" class="list-group-item"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Sales <span class="badge">12</span></a>
            <a href="" class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Clientele <span class="badge">67</span></a>
            <a href="" class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> New Clientele <span class="badge">29</span></a>
          </div>

        </div>
        <div class="col-md-9" ><!--ng-repeat-->

          <div class="panel panel-default" >
            <div class="panel-heading">
              <h3 class="panel-title">My Portfolio</h3>
            </div>
            <div class="panel-body">

              <div class="col-md-3" ng-repeat="image in images | orderBy: '-id' | limitTo: 4">
                <div class="thumbnail">
                  <img ng-src="{{image.image}}" alt="">
                </div>
              </div>

            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Profile Submission</h3>
            </div>
            <div class="panel-body">

            <!-- form -->
              <form class="" ng-submit="submitPortfolio(profile)">
                <div class="container">
                  <div class="row">
                    <div class="col-md-4">

                      <div class="form-group">
                        <label><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Description</label>
                        <textarea class="form-control" id="exampleTextarea" rows="3" ng-model="profile.description"></textarea>
                      </div>


                      <div class="form-group">
                        <label><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Notes | Alergies</label>
                        <textarea class="form-control" id="exampleTextarea" rows="3" ng-model="profile.notes"></textarea>
                      </div>

                    </div>
                    <!-- right column -->
                    <div class="col-md-4">
                      <div class="form-group">
                        <label><span class="glyphicon glyphicon-tint" aria-hidden="true"></span> Product Used</label>
                        <input type="text" class="form-control" ng-model="profile.product">
                      </div>

                      <div class="form-group">
                        <label><span class="glyphicon glyphicon-floppy-open" aria-hidden="true"></span> Upload Image</label>
                        <input type="file" id="file-input">

                          <p class="help-block">Only png and jpg allowed</p>

                        <div class="col-md-6 col-md-3">
                          <div class="thumbnail">
                            <img ng-src="{{imageUrl}}"/>
                          </div>
                        </div>

                      </div>

                    </div>
                  </div>
                </div>

                    <div class="container">
                      <button class="btn btn-info" type="submit">Submit</button>
                    </div>

              </form>

            </div>
          </div>


        </div> <!--end of col-md-9 -->
      </div>
    </div>
  </section> <!--end of main-->



</div>
