<navbar-after></navbar-after>
<div class="main_container">
  <!-- Header -->
  <header id="header">
    <div class="container">
      <div class="row">
        <div class="col-md-10">
          <h1><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>Stylist Dashboard <small>Site Management</small></h1>
        </div>
        <div class="col-md-2">
          <div class="dropdown create">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Create Content
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="#">Add Sales</a></li>
              <li><a href="#">Add Portfolio</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- breadcrumb -->
  <section id="breadcrumb">
    <div class="container">
      <ol class="breadcrumb">
        <li><a href="">Summary</a></li>
        <li class="active"><a href="">Sales</a></li>
      </ol>
    </div>
  </section>

  <!-- main -->
  <section id="main">
    <div class="container">
      <div class="row">
        <div class="col-md-3">

          <div class="list-group">
            <a href="" class="list-group-item active">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>  Dashboard
            </a>
            <a href="" class="list-group-item"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Sales <span class="badge">{{sales.count}}</span></a>
            <a href="" class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Clientele <span class="badge">67</span></a>
            <a href="" class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> New Clientele <span class="badge">29</span></a>
          </div>

        </div>
        <div class="col-md-9">

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Sales</h3>
            </div>
            <div class="panel-body">

              <div class="col-md-3">
                <div class="well dash-box">
                  <h3> {{sales.monthly | currency}}</h3>
                  <h5>Monthly</h5>
                </div>
              </div>

              <div class="col-md-3">
                <div class="well dash-box">
                  <h3> {{sales.weekly | currency}}</h3>
                  <h5>Weekly</h5>
                </div>
              </div>

              <div class="col-md-3">
                <div class="well dash-box">
                  <h3> {{sales.daily | currency}}</h3>
                  <h5>Today</h5>
                </div>
              </div>

              <div class="col-md-3">
                <div class="well dash-box">
                  <h3> {{sales.tips | currency}}</h3>
                  <h5>Tips</h5>
                </div>
              </div>

            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Sale Submission</h3>
            </div>
            <div class="panel-body">

            <!-- form -->
              <form class="" ng-submit="submitSales(sale)">
                <div class="container">
                  <div class="row">

                    <div class="col-md-4">
                    <!-- form -->
                      <div class="form-group">
                        <label><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Client Name</label>
                        <input type="text" class="form-control" ng-model="sale.fname">
                      </div>

                      <div class="form-group">
                        <label><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Client Last Name</label>
                        <input type="text" class="form-control" ng-model="sale.lname">
                      </div>

                      <div class="form-group">
                        <label><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Sale</label>
                        <input type="text" class="form-control" ng-model="sale.sale">
                      </div>

                      <div class="form-group">
                        <label><span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span> Tips</label>
                        <input type="text" class="form-control" ng-model="sale.tips">
                      </div>

                    </div>
                    <!-- right column -->
                    <div class="col-md-4">
                      <div class="form-group">
                        <label><span class="glyphicon glyphicon-tint" aria-hidden="true"></span> Service</label>
                        <input type="text" class="form-control" ng-model="sale.service">
                      </div>

                      <div class="form-group">
                        <label><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> Product Sold</label>
                        <input type="text" class="form-control" ng-model="sale.product">
                      </div>

                      <div class="form-group">
                        <label><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Notes</label>
                        <textarea class="form-control" id="exampleTextarea" rows="3" ng-model="sale.note"></textarea>
                      </div>

                    </div>
                  </div>
                </div>

                    <div class="container">
                      <button class="btn btn-info" type="submit">Submit</button>
                    </div>

              </form>

            </div>
          </div>


        </div> <!--end of col-md-9 -->
      </div>
    </div>
  </section> <!--end of main-->
</div>
