<navbar-before></navbar-before>

<!-- <div class="main_container">
  <header id="header">
    <div class="container">
      <div class="row">
        <div class="col-lg-10">
          <h1><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>Stylist Dashboard <small>Site Management</small></h1>
        </div>
      </div>
    </div>
  </header>

  <div class="jumbo_wrapper">
    <div class="jumbotron">
      <div class="container">
        <h4 style="text-align: center">Login | Sign Up</h4>
         Occupy subway tile intelligentsia ennui leggings listicle VHS pop-up XOXO asymmetrical af.
         Skateboard next level raclette iPhone umami pabst man bun truffaut 3 wolf moon 8-bit shabby chic irony.
         Artisan kinfolk forage, DIY vice actually irony enamel pin hell of cardigan chillwave craft beer tofu.
         Kickstarter beard pitchfork aesthetic quinoa stumptown.
      </div>
      <div class="fb_login">
        <a class="loginBtn loginBtn--facebook fa fa-facebook" href="/auth/facebook">Login with Facebook</a>
      </div>
      <div class="signup_btn">
        <a class="btn btn-success" ui-sref="signup">Sign Up</a>
      </div>
    </div>
  </div>
</div> -->
<div class="splash-container">


<div class="pimg2">
  <div class="ptext">
    <span class="border">
      IMAGE ONE
    </span>
  </div>
</div>

<section class="section-light">
  <h2>Section One</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
    dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
</section>

<div class="pimg2">
  <div class="ptext">
    <span class="border trans">
      IMAGE TWO
    </span>
  </div>
</div>

<section class="section-dark">
  <h2>Section Two</h2>
  <p>
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
    dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
</section>

<div class="pimg2">
  <div class="ptext">
    <span class="border trans">
      IMAGE THREE
    </span>
  </div>
</div>

<section class="section-dark">
  <h2>Section Three</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
    dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
</section>

<div class="pimg2">
  <div class="ptext">
    <span class="border">
      IMAGE ONE
    </span>
  </div>
</div>

</div>
