

.signup_btn {
  display: flex;
  justify-content: center;
}


.splash_ul li{
  display: inline;

}

ul.splash_ul {
  margin-top: 44px;
}

.splash_ul  a {
  color: white;
  margin: 8px;
}

.jumbo_wrapper{
  margin-top: 150px
}



/* parallax */

.splash-container {
  height: 100%;
  margin-top: 51px;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}

.pimg1, .pimg2, .pimg3{
  position: relative;
  opacity: 0.75;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /*
  fixed = parallax
  scroll = normal
  */
  background-attachment: fixed;
}

.pimg1{
  background-image: url('./img/image1.jpeg');
  min-height: 100%;
}

.pimg2{
  background-image: url('./img/image2.jpeg');
  min-height: 400px;
}

.pimg3{
  background-image: url('./img/image3.jpeg');
  min-height: 400px;
}


.section-light{
  text-align: center;
  padding: 50px 80px;
  background-color: #f4f4f4;
  color: #666
}

.section-dark{
  text-align: center;
  padding: 50px 80px;
  background-color: #282e34;
  color: #ddd
}

.ptext{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext .border {
  background-color: #111;
  color: #fff;
  padding: 20px;
}

.ptext .border.trans{
  background-color: transparent;
}

/*@media(max-width: 568px){
  .pimg2, .pimg3 {
    background-attachment: scroll;
  }
}*/
.btn-transparent {
    background: transparent;
    color: #F2F2F2;
    -webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
    -moz-transition: background .2s ease-in-out, border .2s ease-in-out;
    -o-transition: background .2s ease-in-out, border .2s ease-in-out;
    transition: background .2s ease-in-out, border .2s ease-in-out;
    border: 2px solid #666;
}

    .btn-transparent:hover {
        color: white;
        background-color: rgba(255,255,255,0.2);
    }

/* center column */
.center-block{
  float: none;
}


.splash-btn{
  margin: 10px;
}
