<navbar-before></navbar-before>

<div class="splash_wrapper">
  <div class="container ">

    <div class="row">
      <div class="col-sm-8 bg-info">
        <h4>Offal kogi gentrify, tousled chambray blue bottle +1 twee selvage snackwave YOLO squid slow-carb. Jean shorts lumbersexual tumblr,
            direct trade listicle jianbing distillery cold-pressed vice portland bicycle rights put a bird on it. Gastropub marfa helvetica blue
            bottle live-edge kitsch crucifix flannel vexillologist. XOXO butcher pug microdosing letterpress taxidermy enamel pin, whatever vape
            palo santo. Coloring book polaroid hammock fixie. Portland wolf normcore disrupt fashion axe succulents unicorn af retro selfies yr kogi fam chillwave.</h4>
      </div>

      <div class="signup_btn col-sm-4 bg-success">
        <button ui-sref="signup" type="button" class="btn btn-md btn-success">Sign Up</button>
      </div>

    </div>



  </div>
</div>
