.signUpWrapper {
  /*background-color: rgb(47, 221, 177);
  background-size: cover;*/
  width: 100%;
  min-height: 60vh;
}

.signUp {
  margin-top: 20%;

  display: flex;
  justify-content: center;
}


.trendWrapper {
  background-color: rgb(172, 143, 194);
  background-size: cover;
  width: 100%;
  min-height: 60vh;
  padding: 0;
  margin: 0;

}


ul {
  white-space: wrap;
  margin-top: 30px;
}

ul, li {
  list-style: none;

}

.trendButton {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}



.salonFinder{

  background-size: cover;
  width: 100%;
  min-height: 60vh;
  padding: 0;
  margin: 0;
}


.salonInput {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

#map {
  height: 40vh;
  width: 50vw;
}
.map {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
